In [17]:
import pandas as pd
import numpy as np

df_treinamento = pd.read_csv('../arquivos_csv/train.csv', low_memory=False)
df_teste = pd.read_csv('../arquivos_csv/test.csv', low_memory=False)

In [18]:
df_treinamento.columns

Index(['ID', 'Customer_ID', 'Month', 'Name', 'Age', 'SSN', 'Occupation',
       'Annual_Income', 'Monthly_Inhand_Salary', 'Num_Bank_Accounts',
       'Num_Credit_Card', 'Interest_Rate', 'Num_of_Loan', 'Type_of_Loan',
       'Delay_from_due_date', 'Num_of_Delayed_Payment', 'Changed_Credit_Limit',
       'Num_Credit_Inquiries', 'Credit_Mix', 'Outstanding_Debt',
       'Credit_Utilization_Ratio', 'Credit_History_Age',
       'Payment_of_Min_Amount', 'Total_EMI_per_month',
       'Amount_invested_monthly', 'Payment_Behaviour', 'Monthly_Balance',
       'Credit_Score'],
      dtype='object')

In [19]:
df_teste.columns

Index(['ID', 'Customer_ID', 'Month', 'Name', 'Age', 'SSN', 'Occupation',
       'Annual_Income', 'Monthly_Inhand_Salary', 'Num_Bank_Accounts',
       'Num_Credit_Card', 'Interest_Rate', 'Num_of_Loan', 'Type_of_Loan',
       'Delay_from_due_date', 'Num_of_Delayed_Payment', 'Changed_Credit_Limit',
       'Num_Credit_Inquiries', 'Credit_Mix', 'Outstanding_Debt',
       'Credit_Utilization_Ratio', 'Credit_History_Age',
       'Payment_of_Min_Amount', 'Total_EMI_per_month',
       'Amount_invested_monthly', 'Payment_Behaviour', 'Monthly_Balance'],
      dtype='object')

In [23]:
atributos = [
       'Credit_History_Age'
]

for atributo in atributos:
    unique_values = df_teste[atributo].unique()
    print(f"Valores únicos no atributo '{atributo}':")
    print(unique_values)
    print("\n")

Valores únicos no atributo 'Credit_History_Age':
['22 Years and 9 Months' '22 Years and 10 Months' nan
 '23 Years and 0 Months' '27 Years and 3 Months' '27 Years and 4 Months'
 '27 Years and 5 Months' '27 Years and 6 Months' '18 Years and 5 Months'
 '18 Years and 6 Months' '18 Years and 7 Months' '17 Years and 11 Months'
 '18 Years and 0 Months' '18 Years and 1 Months' '18 Years and 2 Months'
 '31 Years and 4 Months' '31 Years and 5 Months' '31 Years and 7 Months'
 '32 Years and 7 Months' '32 Years and 8 Months' '32 Years and 9 Months'
 '32 Years and 10 Months' '31 Years and 6 Months' '15 Years and 3 Months'
 '15 Years and 4 Months' '15 Years and 5 Months' '15 Years and 6 Months'
 '22 Years and 0 Months' '22 Years and 1 Months' '22 Years and 2 Months'
 '22 Years and 3 Months' '27 Years and 1 Months' '27 Years and 2 Months'
 '19 Years and 10 Months' '19 Years and 11 Months' '20 Years and 0 Months'
 '26 Years and 2 Months' '26 Years and 3 Months' '26 Years and 4 Months'
 '27 Years and 7 Months' '27 Years and 8 Months' '27 Years and 9 Months'
 '9 Years and 7 Months' '9 Years and 8 Months' '9 Years and 9 Months'
 '9 Years and 10 Months' '18 Years and 10 Months' '18 Years and 11 Months'
 '19 Years and 0 Months' '19 Years and 1 Months' '17 Years and 6 Months'
 '17 Years and 7 Months' '17 Years and 8 Months' '17 Years and 9 Months'
 '29 Years and 10 Months' '29 Years and 11 Months' '30 Years and 0 Months'
 '30 Years and 1 Months' '7 Years and 1 Months' '7 Years and 2 Months'
 '7 Years and 3 Months' '27 Years and 10 Months' '27 Years and 11 Months'
 '28 Years and 0 Months' '28 Years and 1 Months' '20 Years and 1 Months'
 '20 Years and 2 Months' '10 Years and 9 Months' '10 Years and 10 Months'
 '10 Years and 11 Months' '11 Years and 0 Months' '33 Years and 5 Months'
 '33 Years and 6 Months' '33 Years and 7 Months' '33 Years and 8 Months'
 '12 Years and 11 Months' '13 Years and 0 Months' '13 Years and 1 Months'
 '13 Years and 2 Months' '12 Years and 10 Months' '18 Years and 8 Months'
 '18 Years and 9 Months' '14 Years and 4 Months' '14 Years and 5 Months'
 '14 Years and 6 Months' '14 Years and 7 Months' '30 Years and 11 Months'
 '31 Years and 0 Months' '31 Years and 1 Months' '31 Years and 2 Months'
 '9 Years and 4 Months' '9 Years and 6 Months' '19 Years and 2 Months'
 '19 Years and 5 Months' '19 Years and 6 Months' '19 Years and 7 Months'
 '19 Years and 8 Months' '9 Years and 5 Months' '13 Years and 9 Months'
 '13 Years and 10 Months' '13 Years and 11 Months' '22 Years and 4 Months'
 '26 Years and 6 Months' '14 Years and 0 Months' '14 Years and 1 Months'
 '28 Years and 7 Months' '28 Years and 8 Months' '28 Years and 9 Months'
 '28 Years and 10 Months' '8 Years and 7 Months' '8 Years and 8 Months'
 '8 Years and 9 Months' '24 Years and 11 Months' '25 Years and 0 Months'
 '25 Years and 1 Months' '25 Years and 2 Months' '17 Years and 10 Months'
 '1 Years and 10 Months' '1 Years and 11 Months' '2 Years and 0 Months'
 '2 Years and 1 Months' '11 Years and 7 Months' '11 Years and 8 Months'
 '11 Years and 9 Months' '11 Years and 10 Months' '31 Years and 3 Months'
 '20 Years and 3 Months' '20 Years and 4 Months' '20 Years and 5 Months'
 '20 Years and 6 Months' '11 Years and 1 Months' '11 Years and 2 Months'
 '11 Years and 3 Months' '11 Years and 4 Months' '14 Years and 8 Months'
 '14 Years and 9 Months' '14 Years and 10 Months' '21 Years and 4 Months'
 '21 Years and 5 Months' '21 Years and 6 Months' '21 Years and 7 Months'
 '1 Years and 0 Months' '1 Years and 1 Months' '1 Years and 2 Months'
 '1 Years and 3 Months' '32 Years and 4 Months' '32 Years and 5 Months'
 '32 Years and 6 Months' '13 Years and 3 Months' '13 Years and 4 Months'
 '13 Years and 5 Months' '13 Years and 6 Months' '28 Years and 2 Months'
 '12 Years and 0 Months' '12 Years and 1 Months' '12 Years and 2 Months'
 '12 Years and 3 Months' '25 Years and 4 Months' '25 Years and 5 Months'
 '25 Years and 6 Months' '25 Years and 7 Months' '18 Years and 3 Months'
 '18 Years and 4 Months' '13 Years and 7 Months' '19 Years and 9 Months'
 '31 Years and 9 Months' '31 Years and 10 Months' '31 Years and 11 Months'
 '32 Years and 0 Months' '5 Years and 10 Months' '5 Years and 11 Months'
 '6 Years and 0 Months' '6 Years and 1 Months' '3 Years and 7 Months'
 '3 Years and 8 Months' '3 Years and 9 Months' '3 Years and 10 Months'
 '17 Years and 1 Months' '17 Years and 2 Months' '17 Years and 3 Months'
 '23 Years and 7 Months' '23 Years and 8 Months' '23 Years and 9 Months'
 '23 Years and 10 Months' '9 Years and 0 Months' '9 Years and 2 Months'
 '9 Years and 3 Months' '31 Years and 8 Months' '5 Years and 1 Months'
 '5 Years and 2 Months' '5 Years and 3 Months' '5 Years and 4 Months'
 '33 Years and 4 Months' '13 Years and 8 Months' '30 Years and 5 Months'
 '30 Years and 6 Months' '30 Years and 7 Months' '30 Years and 8 Months'
 '26 Years and 5 Months' '33 Years and 9 Months' '26 Years and 10 Months'
 '26 Years and 11 Months' '27 Years and 0 Months' '8 Years and 1 Months'
 '8 Years and 2 Months' '8 Years and 3 Months' '8 Years and 4 Months'
 '28 Years and 11 Months' '29 Years and 0 Months' '29 Years and 1 Months'
 '29 Years and 2 Months' '20 Years and 7 Months' '20 Years and 8 Months'
 '20 Years and 9 Months' '20 Years and 10 Months' '20 Years and 11 Months'
 '21 Years and 0 Months' '29 Years and 3 Months' '29 Years and 4 Months'
 '29 Years and 5 Months' '29 Years and 6 Months' '14 Years and 2 Months'
 '14 Years and 3 Months' '2 Years and 2 Months' '2 Years and 3 Months'
 '33 Years and 10 Months' '33 Years and 11 Months' '34 Years and 0 Months'
 '26 Years and 7 Months' '26 Years and 8 Months' '29 Years and 7 Months'
 '29 Years and 8 Months' '5 Years and 5 Months' '5 Years and 6 Months'
 '5 Years and 7 Months' '5 Years and 8 Months' '32 Years and 3 Months'
 '6 Years and 5 Months' '6 Years and 6 Months' '6 Years and 7 Months'
 '6 Years and 8 Months' '23 Years and 1 Months' '23 Years and 2 Months'
 '23 Years and 3 Months' '17 Years and 0 Months' '23 Years and 5 Months'
 '23 Years and 6 Months' '22 Years and 5 Months' '22 Years and 6 Months'
 '21 Years and 1 Months' '16 Years and 0 Months' '16 Years and 1 Months'
 '16 Years and 2 Months' '16 Years and 3 Months' '21 Years and 2 Months'
 '2 Years and 11 Months' '3 Years and 0 Months' '3 Years and 1 Months'
 '3 Years and 2 Months' '5 Years and 9 Months' '2 Years and 4 Months'
 '16 Years and 10 Months' '16 Years and 11 Months'
 '22 Years and 11 Months' '9 Years and 11 Months' '10 Years and 0 Months'
 '10 Years and 1 Months' '28 Years and 4 Months' '28 Years and 5 Months'
 '28 Years and 6 Months' '19 Years and 3 Months' '25 Years and 3 Months'
 '8 Years and 10 Months' '6 Years and 3 Months' '6 Years and 4 Months'
 '17 Years and 4 Months' '17 Years and 5 Months' '12 Years and 5 Months'
 '12 Years and 6 Months' '12 Years and 7 Months' '12 Years and 8 Months'
 '26 Years and 9 Months' '29 Years and 9 Months' '32 Years and 1 Months'
 '32 Years and 2 Months' '21 Years and 10 Months' '21 Years and 11 Months'
 '24 Years and 10 Months' '16 Years and 6 Months' '16 Years and 7 Months'
 '16 Years and 8 Months' '16 Years and 9 Months' '15 Years and 1 Months'
 '15 Years and 2 Months' '23 Years and 11 Months' '24 Years and 0 Months'
 '25 Years and 10 Months' '25 Years and 11 Months' '26 Years and 0 Months'
 '26 Years and 1 Months' '8 Years and 11 Months' '19 Years and 4 Months'
 '6 Years and 2 Months' '25 Years and 8 Months' '25 Years and 9 Months'
 '15 Years and 11 Months' '8 Years and 5 Months' '8 Years and 6 Months'
 '7 Years and 6 Months' '7 Years and 7 Months' '7 Years and 8 Months'
 '7 Years and 9 Months' '16 Years and 4 Months' '16 Years and 5 Months'
 '24 Years and 1 Months' '22 Years and 7 Months' '15 Years and 7 Months'
 '15 Years and 8 Months' '15 Years and 9 Months' '21 Years and 8 Months'
 '21 Years and 9 Months' '30 Years and 9 Months' '7 Years and 11 Months'
 '8 Years and 0 Months' '10 Years and 5 Months' '10 Years and 6 Months'
 '10 Years and 7 Months' '10 Years and 8 Months' '9 Years and 1 Months'
 '24 Years and 4 Months' '24 Years and 5 Months' '24 Years and 6 Months'
 '24 Years and 7 Months' '3 Years and 4 Months' '3 Years and 5 Months'
 '15 Years and 0 Months' '10 Years and 2 Months' '12 Years and 4 Months'
 '24 Years and 3 Months' '28 Years and 3 Months' '6 Years and 9 Months'
 '6 Years and 10 Months' '0 Years and 10 Months' '10 Years and 3 Months'
 '12 Years and 9 Months' '30 Years and 2 Months' '30 Years and 4 Months'
 '30 Years and 3 Months' '0 Years and 11 Months' '11 Years and 6 Months'
 '7 Years and 10 Months' '10 Years and 4 Months' '4 Years and 0 Months'
 '32 Years and 11 Months' '33 Years and 0 Months' '21 Years and 3 Months'
 '30 Years and 10 Months' '23 Years and 4 Months' '3 Years and 11 Months'
 '4 Years and 1 Months' '4 Years and 2 Months' '6 Years and 11 Months'
 '7 Years and 0 Months' '11 Years and 5 Months' '15 Years and 10 Months'
 '11 Years and 11 Months' '14 Years and 11 Months' '22 Years and 8 Months'
 '1 Years and 6 Months' '1 Years and 7 Months' '1 Years and 8 Months'
 '1 Years and 9 Months' '24 Years and 9 Months' '5 Years and 0 Months'
 '7 Years and 4 Months' '4 Years and 7 Months' '4 Years and 8 Months'
 '4 Years and 9 Months' '4 Years and 10 Months' '7 Years and 5 Months'
 '2 Years and 5 Months' '2 Years and 7 Months' '2 Years and 8 Months'
 '2 Years and 6 Months' '24 Years and 2 Months' '33 Years and 1 Months'
 '33 Years and 2 Months' '1 Years and 4 Months' '1 Years and 5 Months'
 '24 Years and 8 Months' '4 Years and 3 Months' '4 Years and 4 Months'
 '2 Years and 9 Months' '2 Years and 10 Months' '3 Years and 3 Months'
 '4 Years and 5 Months' '4 Years and 11 Months' '33 Years and 3 Months'
 '3 Years and 6 Months' '4 Years and 6 Months']

In [21]:
df_treinamento['Type_of_Loan'].isnull().sum()

np.int64(11408)