In [10]:
import pandas as pd
import numpy as np

df_treinamento = pd.read_csv('../arquivos_csv/treinamento5.csv', low_memory=False)
df_teste = pd.read_csv('../arquivos_csv/teste5.csv', low_memory=False)
df_amostra2 = pd.read_csv('../arquivos_csv/amostraTreinamento2.csv', low_memory=False)

#### Verifica todas as entidades

In [11]:
df_treinamento.columns

Index(['Credit_Mix', 'Payment_Behaviour', 'dias_atraso', 'divida_restante',
       'utiliza_cartao_credito', 'idade', 'alteracao_limite_credito',
       'tempo_credito', 'investimento_mensal', 'saldo_mensal', 'Credit_Score'],
      dtype='object')

In [12]:
df_teste.columns

Index(['Credit_Mix', 'Payment_Behaviour', 'dias_atraso', 'divida_restante',
       'utiliza_cartao_credito', 'idade', 'alteracao_limite_credito',
       'tempo_credito', 'investimento_mensal', 'saldo_mensal'],
      dtype='object')

In [13]:
df_amostra2.columns

Index(['Credit_Mix', 'Payment_of_Min_Amount', 'Payment_Behaviour', 'Auto_Loan',
       'Credit-Builder_Loan', 'Debt_Consolidation_Loan', 'Home_Equity_Loan',
       'Mortgage_Loan', 'Not_Specified', 'Payday_Loan', 'Personal_Loan',
       'Student_Loan', 'dias_atraso', 'divida_restante',
       'utiliza_cartao_credito', 'idade', 'alteracao_limite_credito',
       'tempo_credito', 'investimento_mensal', 'saldo_mensal', 'Credit_Score'],
      dtype='object')

In [14]:
atributos = [
       'Credit_Score' 
       ]

for atributo in atributos:
    unique_values = df_treinamento[atributo].unique()
    print(f"Valores únicos no atributo '{atributo}':")
    print(unique_values)
    print("\n")

Valores únicos no atributo 'Credit_Score':
['Good' 'Poor' 'Standard']

#### Faz Uma varredura

In [15]:
atributos = [
        
       ]

for atributo in atributos:
    unique_values = df_treinamento[atributo].unique()
    print(f"Valores únicos no atributo '{atributo}':")
    print(unique_values)
    print("\n")

In [16]:
atributos = [
       
       ]

for atributo in atributos:
    unique_values = df_teste[atributo].unique()
    print(f"Valores únicos no atributo '{atributo}':")
    print(unique_values)
    print("\n")

In [17]:
# df_treinamento['Type_of_Loan'].isnull().sum()

In [18]:
df_treinamento.head()

,Credit_Mix,Payment_Behaviour,dias_atraso,divida_restante,utiliza_cartao_credito,idade,alteracao_limite_credito,tempo_credito,investimento_mensal,saldo_mensal,Credit_Score
0,2,3.0,1.0,7.0,1.0,1.0,3.0,4.0,3.0,4.0,Good
1,1,2.0,2.0,6.0,1.0,2.0,3.0,4.0,0.0,0.0,Good
2,1,4.0,3.0,2.0,1.0,2.0,5.0,5.0,0.0,0.0,Good
3,2,5.0,1.0,6.0,0.0,1.0,3.0,5.0,0.0,5.0,Good
4,2,3.0,3.0,2.0,2.0,1.0,3.0,4.0,0.0,0.0,Good